
<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <h1 class="brand-name">
                Welcome to Tamagotchi hotel
            </h1>
            <hr />            
            <div id="HomeImg" style="width:100%; height:100%">
                <img src="~/content/images/Tamagotchi.jpg">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Onze Tamagotchi hotel</strong>
            </h2>
            <hr>
            <p>
                Op onze website ga je interactie maken met de Tamagotchi's. Weet je even niet wat Tamagotchi's zijn klik dan op -->
                <a target="_blank" href="https://nl.wikipedia.org/wiki/Tamagotchi">Tamagotchi info</a>.

                <br /><br />
                Je kunt op deze website een kamer boeken voor je Tamagotchi. Jij bent het baasje van je Tamagotchi en het hangt van jou
                af hoe jou Tamagotchi zal leven of niet, want je kunt m ook laten sterven XD.
            </p>
            <hr class="visible-xs">

        </div>
    </div>
</div>