body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.table_Tamagotchi_ALive {
    background-color: #c0ffb7;
}

.table_Tamagotchi_NotALive {
    background-color: #ffaeae;
}

.tamagotchiSelect {
    max-width: 30% !important;
    width: 30% !important;
    height: 100px !important;
}

    .tamagotchiSelect option {
        width: 100%;
    }

.options {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-size: 30px;
    color: black;
}

    .options a {
        position: absolute;
    }
